
#body {
  background: #DDDCC5;
}
#header {
  background: #611427;
  height: 175px;
  width: 600px;
  margin-top: 30px;
  margin-left: 25%;
  moz-box-shadow: 0 0 15px #777777;
  webkit-box-shadow: 0 0 15px #777777;
  box-shadow: 0 0 15px #777777;
  text-align: center;
  color: #DDDCC5;

}

#banner {
  font-size: 60px;
  letter-spacing: 2px;
  vertical-align: middle;
  color: #DDDCC5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#subtitle {
  font-size: 30px;
  vertical-align: middle;
  font-style: italic;
}

#section{
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  height: 400px;
  text-align: center;
}

#div1, #div2, #div3 {
  display: inline;
  padding: 10px;
  text-align: center;
}

.clickable {
  list-style-type: none;
  border: 8px double black;
  width: 300px;
  height: 300px;

}

#img1 {
}

#img2 {
  /*margin-top: -40%;*/
  }

#img3 {
}

#table {
  border: 5px solid black;
  width: 50%;
  border-collapse: separate;
  padding: 5px;
  border-width: thin;
  border-spacing: 5px;
  border-color: black;
  background-color: blue;

}

#trId

#tdId {
  height: 40px;
  background-color: orange;
}

#tr2Id


#td2Id {
  height: 40px;
  background-color: orange;
}
